.Navigation{
    position: relative;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 175px;
}
#About{
    margin: 45px 0px;
}
.about_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.about_left{
    flex: 3;
}
.title{
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.about_left .text{
    font-size: 1.6rem;
    line-height: 1.2em;
    text-align: justify;
}
.about_right{
    flex: 2;
    width: 350px;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
}
img{
    object-fit: contain;
    border-radius: 12px;
}
.gallery_title {
    text-align: center;
}
#Gallery{
    margin-bottom: 30px;
}
#Gallery .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
div.image img{
    object-fit: cover;
    transition: all 0.5s ease;
}
div.image:first-child {
    width: 300px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    grid-row: 1/3;
    transition: all 0.5s ease;
}
div.image{
    width: 300px;
    height: 175px;
    overflow: hidden;
    border-radius: 12px;
}
div.image:hover{
    transform: scale(0.9);
}
div.image:hover img{
    transform: scale(1.3);
}

@media only screen and (max-width:900px)
{
    .about_wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .title{
        font-size: 1.8rem;
    }
    .about_left .text{
        font-size: 1.4rem;
    }
    div.image{
        width: 240px;
    }
    .about_right{
        width: 250px;
        height: 400px;
    }
}
@media only screen and (max-width:400px)
{
    div.image:first-child{
        width: 150px;
        height: 375px;
    }
    div.image{
        width: 150px;
    }
    .images_container{
        grid-area: 0.5rem;
    }
}
@media only screen and (max-width:330px)
{
    .images_container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }
    div.image:first-child{
        width: 225px;
        height: 325px;
    }
    div.image{
        width: 225px;
    }
}